{% extends "composteur/base.html" %}

{% load static %}

{% block mapstyle %}
<style>
/*<span class="metadata-marker" style="display: none;" data-region_tag="css"></span>  Set the size of the div element that contains the map */
    #map {
        height: 100%;  /* The height is 400 pixels */
        width: 90%;  /* The width is the width of the web page */
    }
</style>
{% endblock  %}

{% block header %}
    {% include "composteur/header.html" %}
{% endblock %}

{% block content %}
<span class="metadata-marker" style="display: none;" data-region_tag="html-body"></span>
<h3>Voici les composteurs trouvés pour {{query}}</h3>
<!--The div element for the map -->
<div class="mx-auto" id="map"></div>
{% endblock  %}

{% block script %}
<span class="metadata-marker" style="display: none;" data-region_tag="script-body"></span><!-- Initialize and add the map-->
<script>
    function initMap() {
        // The location of the city
        var city = {
            lat: {{lat}},
            lng:{{lng}}
            };
        // The map, centered at the city
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 13, center: city});
        // The marker, positioned at the city
        // var marker = new google.maps.Marker({position: city, map: map});
    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLgp2LjF_mot9AbE8k7J8JxrspGnQckFU&callback=initMap">
</script>
{% endblock  %}
