{% extends "composteur/base.html" %}

{% block title %}

    Création de compte

{% endblock  %}

{% block header %}

    {% include 'composteur/header.html' with title="Création de compte" %}

{% endblock  %}

{% block content %}

    <section>
        <div class="container">
            <br>
            <div class="row">
                <form class="mx-auto" id="signupform" method="post" action="{% url 'signup' %}" style="list-style: none">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <br>
                                <small style="color: grey">
                                    {% autoescape off %}
                                    {{ field.help_text }}
                                    {% endautoescape %}
                                </small>
                            {% endif %} 
                            {% for error in field.errors %}
                                <p class="error" style="color: red">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button class="btn btn-primary" id="signupsubmit" type="submit">Inscription</button>
                </form>
            </div>
        </div>
    </section>

{% endblock  %}